<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craete New Chat</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/chats">
        <h1>New Chat</h1>
    <input type="text" name="from" placeholder="Enter your name"><br><br>
    <textarea name="message" placeholder="Enter your message" rows="7" cols="50"></textarea><br><br>
    <input type="text" name="to" placeholder="Enter the reciver name"><br><br>
    <input type="date" name="created_at" placeholder="DD/MM/YYYY"><br><br>
    <input type="time" name="created_at">
    <button>Submit</button>
    </form>
</body>
</html>